body{
   background: lightblue;
}
    

body>main{
    display: inline-block;
    margin-left: calc(50% - 400px);
    margin-top: 100px;
    width: 800px;
}

.left-column{
    display: inline-block;
    float: left;
    width: 40%;
    padding: 40px;
    margin-top: 15px;
    background-image: url("img\kalnas.jpg");
    background-size: cover;
    background-color: green;
    
}

.right-column{
    display: inline-block;
    float: right;
    width: 60%;
    padding: 60px;
    background-color: white;
}

.footer{
    display: inline-block;
    
    
}

.close{
    display: inline-block;
    float: right;
}

.form{
    display: inline-block;
    
}

