body{
   background: lightblue;
}


  .background{
     background-image: url(../img/kalnas.jpg); 
     display: inline-block;
     height: 100vh;
     background-size: cover;
     background-position: center;
     width: 100%;
  }  

body>main{
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-column{
    display: inline-block;
    float: left;
    width: 40%;
    padding: 40px;
    background-image: url(../img/kalnas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    bottom: 30px;
    background-color: blue;


   
    
}

.right-column{
    display: inline-block;
    float: right;
    width: 60%;
    padding: 60px;
    background-color: white;
    position: relative;
}

footer{
    position: absolute;
    bottom: 20px;
    color: white;

}
footer>a{
    color: white;
}

h1{
    color: white;
    font-weight: 600;
    
    
}

.close{
    display: inline-block;
    float: right;
    padding: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    text-decoration: none;

    

}

.close>a{
    text-decoration: none;
}

             



