.form{
    display: inline-block;
    width: 100%;
    }
    .form-row{
        display: inline-block;
        width: 100%;
        }     
        .form-row + .form-row{
            margin-top: 40px;
            }
             label{
                 display: inline-block;
                 width: 100%;
                 line-height: 15px;
                 text-transform: uppercase;
                 font-size: 15px;
                 font-weight: 200;
                 color: gray;
                 
             }
             input{
                 display: inline-block;
                 width: 100%;
                 line-height: 40px;
                 border: none;
                 border-bottom: 1px solid gray;
                 
                 

             }

             .form-row>span{
                display: inline-block;
                margin-left: 10px;
                line-height: 20px;
                float: left;
                text-align: center;
                padding: 10px;
                


            }
            .form-row>a{
                display: inline-block;
                float: left;
                line-height: 20px;
                padding: 10px;
                color: blue;
                text-decoration: none


            }